<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="log" value="c:\log\" />
    <add key="json" value="c:\log\tvCorporativaConteudo.json"/>
    <add key="jsonImagem" value="c:\log\tvCorporativaConteudoImagem.json"/>
    <add key="tempoReprocessamento" value="60000" />
    <add key="urlAPICanalEnergia" value="http://www.agenciacanalenergia.com.br/webapi/" />
    <add key="enderecoBancoImagens" value="http://www.canalenergia.com.br" />
    <add key="nodeIdNoticiasTVCorporativa" value="1153"/>
    <add key="nodeIdVideosTVCorporativa" value="1195"/>
    <add key="nodeIdImagensTVCorporativa" value="1148"/>
    <!-- 20 Minutos -->
  </appSettings>
  <connectionStrings>
    <add name="cetv_DesenvolvimentoEntities" connectionString="metadata=res://*/TVCorporativa.csdl|res://*/TVCorporativa.ssdl|res://*/TVCorporativa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=;user id=sa;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
